---
import type { Article } from '../types/article';
import { formatDate, formatDateTime, getTags } from '../lib/article-helpers';

const CATEGORY_LABEL_MAP: Record<string, string> = {
  PEOPLE: 'ひと',
  COMPANY: 'はたらく環境',
  VALUES: '価値観',
  WORK: '仕事',
};

interface Props {
  article: Article;
  imageWidth?: number;
  imageHeight?: number;
}

const { article, imageWidth = 420, imageHeight = 220 } = Astro.props;

const categoryName = article.category?.category_name ?? '';
const categoryLabel = CATEGORY_LABEL_MAP[categoryName] ?? categoryName;
const date = formatDate(article.published_at);
const dateTime = formatDateTime(article.published_at);
const tags = getTags(article);
---

<div class="relation-card">
  <a href={`/blog/${article.slug}.html`} class="relation-link">
    <figure class="relation-link__fig">
      <img
        src={article.main_visual?.url}
        alt={article.main_visual?.alt ?? ''}
        width={imageWidth}
        height={imageHeight}
      />
      <figcaption class="relation-link__caption__group">
        <span class="relation-link__caption--alphabet">{categoryName}</span>
        <span class="relation-link__caption">{categoryLabel}</span>
      </figcaption>
    </figure>
    <time class="relation-link__time" datetime={dateTime}>{date}</time>
    <h4 class="relation-link__ttl">{article.title}</h4>
    <ul class="relation-tagList">
      {tags.map((tag) => (
        <li class="relation-tag">{tag}</li>
      ))}
    </ul>
  </a>
</div>

<style lang="scss">
  @use '../scss/foundation/setting' as *;

  // hover mixin (コンポーネント用にカスタマイズ)
  @mixin hover {
    @include smMin {
      :global(.is-view-pc) & {
        &:hover {
          @content;
        }
      }
    }
  }

  // Styles
  .relation-card {
    width: 48%;
    @include smMax {
      width: 100%;
    }
  }

  .relation-link {
    display: block;
    width: 100%;
    @include hover {
      img {
        opacity: 0.7;
        transform: scale(1.05);
      }
    }

    &__fig {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      overflow: hidden;
      @include smMax {
        margin-bottom: sm_vw(16);
      }
      img {
        pointer-events: none;
      }
    }

    &__caption {
      font-size: 1.2rem;
      padding-left: 0.8rem;
      @include smMax {
        font-size: sm_vw(24);
        padding-left: sm_vw(14);
      }

      &__group {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #FFF;
        padding: 0.4rem 0.9rem;
        background-color: $colorMain;
        @include smMax {
          padding: sm_vw(8) sm_vw(15);
        }
      }

      &--alphabet {
        font-family: $font-en;
        font-size: 1.4rem;
        padding-right: 0.8rem;
        border-right: 1px solid #FFF;
        @include smMax {
          font-size: sm_vw(26);
          padding-right: sm_vw(14);
        }
      }
    }

    &__time {
      font-family: $font-en;
      font-size: 1.2rem;
      line-height: 3;
      color: $colorPlain;
      margin-bottom: 8px;
      @include smMax {
        font-size: sm_vw(24);
        line-height: 1.5;
        margin-bottom: sm_vw(8);
      }
    }

    &__ttl {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 12px;
      @include smMin {
        margin-top: -10px;
      }
      @include smMax {
        font-size: sm_vw(32);
        margin-bottom: sm_vw(16);
      }
    }
  }

  .relation-tag {
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 1.2rem;
    line-height: 1.83;
    padding: 0.3rem 1rem;
    border: 1px solid $colorMain;
    border-radius: 20px;
    @include smMax {
      font-size: sm_vw(22);
      padding: sm_vw(6) sm_vw(14);
    }
  }

  .relation-tagList {
    display: flex;
    flex-wrap: wrap;
  }
</style>
