---
import type { Article } from '../types/article';
import articlesData from '../data/articles.json';

const articles: Article[] = articlesData;

// カテゴリー"WORK"の記事をフィルタリングし、最新3件を取得
const workArticles = articles
  .filter(article => article.category.alphabet === "WORK")
  .slice(0, 3);
---

<ul class="work-list">
  {workArticles.map((article) => (
    <li class="work-list__item">
      <a href={article.href}>
        <div class="work-list__detail">
          <ul class="work-list__tag">
            {article.tags.map((tag) => (
              <li>{tag}</li>
            ))}
          </ul>
          {article.copy && (
            <p class="work-list__copy">{article.copy}</p>
          )}
          <p class="work-list__title">{article.title}</p>
        </div>
        <figure class="work-list__img">
          <img src={article.imageSrc} alt="" />
        </figure>
      </a>
    </li>
  ))}
</ul>

<style lang="scss">
  @use '../scss/foundation/setting' as *;

  .work-list {
    margin-top: 80px;
    border-top: solid 1px #9EA5AB;
    @include smMax {
      margin-top: sm_vw(100);
    }
    &__item {
      border-bottom: solid 1px #9EA5AB;
      > a {
        padding: 40px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include smMax{
          padding: sm_vw(80) sm_vw(40);
          flex-direction: column;
        }
        @include hover{
          opacity: 0.7;
          .work-list__img img {
            transform: scale(1.05);
          }
        }
      }
    }
    &__detail {
      text-align: left;
    }
    &__tag {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 8px;
        margin-bottom: 8px;
        height: 24px;
        padding: 0 10px;
        background: #FFF;
        border-radius: 12px;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px #000;
        @include smMax{
          font-size: sm_vw(22);
          height: sm_vw(40);
          padding: 0 sm_vw(14);
        }
      }
    }
    &__copy {
      font-size: 2.8rem;
      font-weight: bold;
      line-height: 1.8;
      margin-top: 20px;
      @include smMax {
        font-size: sm_vw(36);
        margin-top: sm_vw(20);
      }
    }
    &__title {
      font-size: 1.6rem;
      font-weight: 500;
      color: $colorPlain;
      margin-top: 25px;
      @include smMax {
        font-size: sm_vw(24);
        margin-top: sm_vw(20);
        line-height: 1.8;
      }
    }
    &__img {
      width: 400px;
      margin-left: 20px;
      overflow: hidden;
      @include smMax {
        width: 100%;
        margin: sm_vw(40) 0 0;
      }
      img {
        pointer-events: none;
      }
    }
  }
</style>

